org.openbel.editor.antlr/target
org.openbel.editor.ui/classes
org.openbel.editor.core/classes
org.openbel.editor-feature/target/
org.openbel.editor-site/target/
org.openbel.editor.core/target/
org.openbel.editor.doc/target/
org.openbel.editor.ui/target
*.zip
