<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.7"?>
<plugin>

    <extension point="org.eclipse.dltk.ui.language">
        <language class="org.openbel.workbench.ui.BELUILanguageToolkit"
            nature="org.openbel.workbench.core.nature" priority="0">
        </language>
    </extension>
    
    <extension point="org.eclipse.ui.ide.projectNatureImages">
        <image
            icon="icons/ovr16/nature.png"
            id="org.openbel.workbench.ui.nature.belnatureimage"
            natureId="org.openbel.workbench.core.nature">
        </image>
    </extension>
    
    <extension point="org.eclipse.ui.newWizards">

        <category
            id="org.openbel.workbench.new_wizards"
            name="OpenBEL Workbench"/>

        <wizard
            canFinishEarly="false"
            category="org.openbel.workbench.new_wizards"
            class="org.openbel.workbench.ui.wizards.NewProjectWizard"
            finalPerspective="org.openbel.workbench.perspective"
            icon="icons/new-project.png"
            id="org.openbel.workbench.wizard.newproject"
            name="BEL Project"
            project="true">
            <description>
               Create a new OpenBEL Workbench project.
            </description>
        </wizard>

        <wizard
            category="org.openbel.workbench.new_wizards"
            class="org.openbel.workbench.ui.wizards.NewBELScriptFileWizard"
            icon="icons/belscript.gif"
            id="org.openbel.workbench.belfilewizard"
            name="BEL Document"
            project="false">
            <description>
                Create a new BEL document. BEL documents are written in BEL Script and end with the extension ".bel".
            </description>
        </wizard>

        <wizard
            category="org.openbel.workbench.new_wizards"
            class="org.openbel.workbench.ui.wizards.NewXBELFileWizard"
            icon="icons/xbel.gif"
            id="org.openbel.workbench.xbelfilewizard"
            name="XBEL Document"
            project="false">
            <description>
                Create a new XBEL document. XBEL documents are written in XML and end with the extension ".xbel".
            </description>
        </wizard>

        <!--
        <wizard
            category="org.openbel.workbench.category"
            class="org.openbel.workbench.ui.wizards.NewDocumentGroup"
            icon="icons/newdocgroup.png"
            id="org.openbel.workbench.newdocgroupwizard"
            name="Document Group"
            project="true">
            <description>
                Creates a new document group in the open project.
            </description>
        </wizard>
        -->

    </extension>

    <extension point="org.eclipse.ui.importWizards">

        <category
            id="org.openbel.workbench.import_wizards"
            name="OpenBEL Workbench"/>

        <wizard
            category="org.openbel.workbench.import_wizards"
            class="org.openbel.workbench.ui.wizards.ImportWizard"
            icon="icons/import.png"
            id="org.openbel.workbench.ui.wizards.ImportWizard"
            name="BEL Script/XBEL Document">
            <description>
                Import a BEL Script or XBEL document from the local file system into a document group.
            </description>
        </wizard>

    </extension>

    <extension point="org.eclipse.ui.exportWizards">

        <category
            id="org.openbel.workbench.export_wizards"
            name="OpenBEL Workbench"/>

        <wizard
            category="org.openbel.workbench.export_wizards"
            class="org.openbel.workbench.ui.wizards.BuilderExportWizard"
            icon="icons/export.png"
            id="org.openbel.workbench.ui.wizards.BuilderExportWizard"
            name="KAM Builder">
            <description>
                Export
            </description>
        </wizard>

    </extension>

    <extension point="org.eclipse.ui.popupMenus"> 

        <objectContribution
            id="org.eclipse.ui.articles.action.contribution.popup.object"
            objectClass="org.eclipse.core.resources.IProject">
            <filter
                name="projectNature"
                value="org.openbel.workbench.core.nature"/>
            <action
                id="org.openbel.workbench.ui.actions.DocumentGroupDelegate"
                label="New Document Group..."
                icon="icons/newdocgroup.gif"
                class="org.openbel.workbench.ui.actions.DocumentGroupDelegate">
            </action> 
        </objectContribution> 

        <objectContribution
            id="org.openbel.workbench.ui.visualize"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.bel">
            <action
                id="org.openbel.workbench.ui.actions.visualize"
                label="Visualize in Cytoscape"
                class="org.openbel.workbench.ui.actions.Visualize"
                definitionId="org.openbel.workbench.ui.actions.visualize"
                enablesFor="1">
            </action>
        </objectContribution>

    </extension> 

    <extension point="org.eclipse.ui.preferencePages">

        <page
            id="org.openbel.workbench.ui.preferences"
            name="OpenBEL Workbench"
            class="org.openbel.workbench.ui.preferences.BELFrameworkPreferencePage"/>

        <!--
        <page
            id="org.openbel.workbench.ui.preferences.interpreters"
            name="Interpreters"
            class="org.openbel.workbench.ui.interpreter.BELInterpreterPreferencePage"
            category="org.openbel.workbench.ui.preferences"/>
        -->

        <page
            id="org.openbel.workbench.ui.preferences.TodoTasks"
            name="Task Tags"
            class="org.openbel.workbench.ui.preferences.BELTODOTaskPreferencePage"
            category="org.openbel.workbench.ui.preferences.editor"/>

        <page
            id="org.openbel.workbench.ui.syntaxcoloring"
            name="Syntax coloring"
            class="org.openbel.workbench.ui.preferences.ColorPrefPage"
            category="org.openbel.workbench.ui.preferences.editor"/>

        <page
            id="org.openbel.workbench.ui.preferences.editor"
            name="Editor"
            class="org.openbel.workbench.ui.preferences.BELEditorPreferencesPage"
            category="org.openbel.workbench.ui.preferences"/>

    </extension>

    <extension point="org.eclipse.ui.editors">
        <editor
            class="org.openbel.workbench.ui.editor.BELScriptEditor"
            default="true"
            icon="icons/belscript.gif"
            id="org.openbel.workbench.ui.editor.bel"
            name="BEL Script Editor">
            <contentTypeBinding contentTypeId="org.openbel.workbench.bel-content-type" />
        </editor>
    </extension>
    
    <extension point="org.eclipse.ui.editors">
        <editor
            class="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorPart"
            default="true"
            icon="icons/xbel.gif"
            id="org.openbel.workbench.ui.editor.xbel"
            name="XBEL Editor">
            <contentTypeBinding contentTypeId="org.openbel.workbench.xbel-content-type" />
        </editor>
    </extension>
    
    <extension point="org.eclipse.ui.editors">
        <editor
            class="org.eclipse.jdt.internal.ui.propertiesfileeditor.PropertiesFileEditor"
            default="true"
            icon="icons/syscfg.gif"
            id="org.openbel.workbench.ui.editor.syscfg"
            name="BEL System Configuration Editor">
            <contentTypeBinding contentTypeId="org.openbel.workbench.syscfg-content-type" />
        </editor>
    </extension>
    
    <extension point="org.eclipse.ui.editors">
        <editor
            class="org.eclipse.ant.internal.ui.editor.AntEditor"
            default="true"
            icon="icons/builder.gif"
            id="org.openbel.workbench.ui.editor.builder"
            name="KAM Builder Editor">
            <contentTypeBinding contentTypeId="org.openbel.workbench.builder-content-type" />
        </editor>
    </extension>
    
    <extension point="org.eclipse.dltk.core.sourceParsers">
        <parserContribution
            natureId="org.openbel.workbench.core.nature">
        <parser
            class="org.openbel.workbench.core.parser.BELScriptSourceParserFactory"
            description="BEL Script source parser"
            id="org.openbel.workbench.core.sourceParser"
            name="sourceParser.name"
            priority="0" />
        </parserContribution>
    </extension>
        
    <extension point="org.eclipse.dltk.core.sourceElementParsers">
        <parser
            class="org.openbel.workbench.core.parser.BELScriptElementParser"
            nature="org.openbel.workbench.core.nature"
            priority="1"/>
    </extension>

    <extension point="org.eclipse.core.runtime.preferences">
        <initializer
            class="org.openbel.workbench.ui.BELUIPreferenceInitializer" />
    </extension>

    <extension point="org.eclipse.debug.core.launchConfigurationTypes">
        <launchConfigurationType
            name="KAM Builder"
            id="org.openbel.workbench.ui.launchConfigurationType"
            delegate="org.openbel.workbench.ui.launch.LaunchDelegate"
            modes="run">
        </launchConfigurationType>
    </extension>

    <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
        <launchConfigurationTypeImage icon="icons/builder-launch.png"
            configTypeID="org.openbel.workbench.ui.launchConfigurationType"
            id="org.openbel.workbench.launchConfigurationTypeImage.program">
        </launchConfigurationTypeImage>
    </extension>

    <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup
            class="org.openbel.workbench.ui.launch.BELTabGroup"
            id="org.openbel.workbench.ui.launch.tabGroup"
            type="org.openbel.workbench.ui.launchConfigurationType">
        </launchConfigurationTabGroup>
    </extension>

    <extension point="org.eclipse.debug.ui.launchShortcuts">
        <shortcut
            id="org.openbel.workbench.ui.launch.launchShortcut"
            class="org.openbel.workbench.ui.launch.LaunchShortcut"
            label="KAM Builder" modes="run"
            icon="icons/builder-launch.png">
            <contextualLaunch>
                <enablement>
                    <with variable="selection">
                        <count value="1"/>
                        <iterate>
                            <and>
                                <test property="org.openbel.workbench.ui.naturetester.hasBELNature"/>
                                <test property="org.openbel.workbench.ui.buildertester.isBuilder"/>
                            </and>
                        </iterate>
                    </with>
                </enablement>
                <contextLabel label="Run KAM Builder" mode="run">
                </contextLabel>
            </contextualLaunch>
        </shortcut>
    </extension>

    <extension point="org.eclipse.dltk.ui.scriptCompletionProposalComputer"
        id="BELCompletionProposalComputer">
        <scriptCompletionProposalComputer
            class="org.openbel.workbench.ui.completion.BELCompletionProposalComputer"
            categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
            toolkitId="org.openbel.workbench.core.nature">
            <partition type="__dftl_partition_content_type" />
        </scriptCompletionProposalComputer>
    </extension>

    <extension point="org.eclipse.search.searchPages">
        <page canSearchEnclosingProjects="true"
            class="org.openbel.workbench.ui.search.BELSearchPage" enabled="true"
            id="org.openbel.workbench.BELSearchPage" label="BEL Search"
            showScopeSection="true" sizeHint="460,160">
        </page>
    </extension>

    <extension point="org.eclipse.dltk.core.search">
        <matchLocator
            class="org.openbel.workbench.ui.search.matching.BELMatchLocator"
            nature="org.openbel.workbench.core.nature">
        </matchLocator>
        <!--
        <seachFactory
            class="org.openbel.workbench.ui.search.BELSearchFactory"
            nature="org.openbel.workbench.core.nature" priority="0">
        </seachFactory>
        -->
    </extension>

    <extension point="org.eclipse.dltk.core.selectionEngine">
        <selectionEngine
         class="org.openbel.workbench.ui.selection.BELSelectionEngine"
         nature="org.openbel.workbench.core.nature"
         priority="0">
        </selectionEngine>
    </extension>

    <extension
        point="org.eclipse.dltk.core.buildParticipant">
        <buildParticipant
            class="org.eclipse.dltk.core.builder.ParserBuildParticipantFactory"
            id="org.openbel.workbench.buildParticipant.parser"
            name="BEL build"
            nature="org.openbel.workbench.core.nature">
        </buildParticipant>
        <buildParticipant
            class="org.openbel.workbench.ui.BELTODOParserType"
            id="org.openbel.workbench.todo"
            name="BEL"
            nature="org.openbel.workbench.core.nature">
            <requires
                id="org.openbel.workbench.buildParticipant.parser">
            </requires>
        </buildParticipant>

    </extension>

    <extension point="org.eclipse.dltk.ui.scriptDocumentationProviders">
        <provider
           class="org.openbel.workbench.ui.selection.BELDocumentationProvider"
           id="org.openbel.workbench.BELDocumentationProvider"
           nature="org.openbel.workbench.core.nature"/>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <command
            defaultHandler="org.openbel.workbench.ui.commands.AddNature"
            description="Adds the BEL nature to these projects"
            id="org.openbel.workbench.ui.addnature"
            name="Add BEL Support">
        </command>
        <command
            defaultHandler="org.openbel.workbench.ui.commands.RemoveNature"
            description="Removes the BEL nature from these projects"
            id="org.openbel.workbench.ui.removenature"
            name="Remove BEL Support">
        </command>
    </extension>

    <extension
      point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <menu label="OpenBEL Workbench">
                <command
                    commandId="org.openbel.workbench.ui.addnature"
                    style="push">
                    <visibleWhen checkEnabled="false">
                        <with variable="selection">
                            <iterate ifEmpty="false" operator="or">
                                <not>
                                    <test property="org.openbel.workbench.ui.naturetester.hasBELNature"/>
                                </not>
                            </iterate>
                        </with>
                    </visibleWhen>
                </command>
                <command
                    commandId="org.openbel.workbench.ui.removenature"
                    style="push">
                    <visibleWhen checkEnabled="false">
                        <with variable="selection">
                            <iterate ifEmpty="false" operator="or">
                                <test property="org.openbel.workbench.ui.naturetester.hasBELNature"/>
                            </iterate>
                        </with>
                    </visibleWhen>
                </command>
                <visibleWhen
                    checkEnabled="false">
                    <with variable="selection">
                        <iterate ifEmpty="false" operator="and">
                            <or>
                                <adapt type="org.eclipse.core.resources.IProject"/>
                                <adapt type="org.eclipse.dltk.core.IScriptProject"/>
                            </or>
                        </iterate>
                    </with>
                </visibleWhen>
            </menu>
        </menuContribution>
    </extension>

    <extension
        point="org.eclipse.core.expressions.propertyTesters">

        <propertyTester
            id="org.openbel.workbench.ui.naturetester"
            class="org.openbel.workbench.ui.NaturePropertyTester"
            namespace="org.openbel.workbench.ui.naturetester"
            properties="hasBELNature"
            type="org.eclipse.core.runtime.IAdaptable">
        </propertyTester>

        <propertyTester
            id="org.openbel.workbench.ui.buildertester"
            class="org.openbel.workbench.ui.BuilderPropertyTester"
            namespace="org.openbel.workbench.ui.buildertester"
            properties="isBuilder"
            type="org.eclipse.core.runtime.IAdaptable">
        </propertyTester>

    </extension>

    <extension
        point="org.eclipse.ui.popupMenus">
        <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.openbel.workbench.contribution1">
            <action
                label="Toggle BEL Nature"
                class="org.openbel.workbench.ui.ToggleNatureAction"
                menubarPath="additions"
                enablesFor="+"
                id="org.openbel.workbench.addRemoveNatureAction">
         </action>
        </objectContribution>
    </extension>

    <extension
        id="xmlProblem"
        name="XML Problem"
        point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.core.resources.problemmarker">
      </super>
        <persistent value="true">
      </persistent>
    </extension>

    <extension
        point="org.eclipse.ui.perspectives">
        <perspective
            class="org.openbel.workbench.ui.perspective.OpenBELWorkbenchPerspective"
            icon="icons/perspective.png"
            id="org.openbel.workbench.perspective"
            name="OpenBEL Workbench">
      </perspective>
    </extension>

    <extension point="org.eclipse.ui.navigator.viewer">
        <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
            <includes>
                <contentExtension pattern="org.openbel.workbench.ui.navigator.content">
            </contentExtension>
                <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            </includes>
        </viewerContentBinding>
    </extension>

    <extension point="org.eclipse.ui.navigator.navigatorContent">
        <navigatorContent
            activeByDefault="true"
            contentProvider="org.openbel.workbench.ui.navigator.OpenBELWorkbenchContentProvider"
            id="org.openbel.workbench.ui.navigator.content"
            labelProvider="org.openbel.workbench.ui.navigator.OpenBELWorkbenchLabelProvider"
            name="BEL Files"
            priority="high"
            icon="icons/pencil.png">
            <triggerPoints>
                <or>
                    <adapt type="org.eclipse.core.resources.IProject">
                        <test
                            property="org.eclipse.core.resources.projectNature"
                            value="org.openbel.workbench.core.nature"/>
                    </adapt>
                </or>
            </triggerPoints>
            <possibleChildren>
                <or>
                    <instanceof value="org.eclipse.core.resources.IResource"/>
                    <instanceof value="org.eclipse.core.resources.IFolder"/>
                    <instanceof value="org.openbel.workbench.ui.navigator.Element"/>
                </or>
            </possibleChildren>
            <commonWizard
                type="new"
                menuGroupId="org.openbel.workbench"
                wizardId="org.openbel.workbench.wizard.newbel">
                <enablement>
                </enablement>
            </commonWizard>
            <commonWizard
                type="new"
                menuGroupId="org.openbel.workbench"
                wizardId="org.openbel.workbench.wizard.newproject">
                <enablement>
                </enablement>
            </commonWizard>
            <actionProvider
                class="org.openbel.workbench.ui.navigator.OpenBELWorkbenchActionProvider"/>
        </navigatorContent>
    </extension>

    <extension
          point="org.eclipse.ui.views">
       <category
             id="org.openbel.workbench.ui"
             name="OpenBEL Workbench">
       </category>
       <view
             category="org.openbel.workbench.ui"
             class="org.openbel.workbench.ui.views.ResourceView"
             icon="icons/script.png"
             id="org.openbel.workbench.ui.views.ResourceView"
             name="Resources">
       </view>
    </extension>

    <extension
          point="org.eclipse.ui.views">
       <category
             id="org.openbel.workbench.ui"
             name="OpenBEL Workbench">
       </category>
       <view
             category="org.openbel.workbench.ui"
             class="org.openbel.workbench.ui.views.NamespaceView"
             icon="icons/table.png"
             id="org.openbel.workbench.ui.views.NamespaceView"
             name="Namespaces">
       </view>
    </extension>

    <extension
          point="org.eclipse.ui.views">
       <category
             id="org.openbel.workbench.ui"
             name="OpenBEL Workbench">
       </category>
       <view
             category="org.openbel.workbench.ui"
             class="org.openbel.workbench.ui.views.AnnotationView"
             icon="icons/table.png"
             id="org.openbel.workbench.ui.views.AnnotationView"
             name="Annotations">
       </view>
    </extension>

</plugin>

